body {
    width: 960px;
    margin: auto;
    background-image: url("../fotos/pagebackground.png");
    background-position: center;
    font-family: Arial Helvetica, sans-serif;
}
.top {
    height: 200px;
    background-image: url("../fotos/bgsky3.jpg");
    text-align: center;
    color: darkblue;
    position:relative;
}
.top > #\31  {
    font-size: 300%;
    font-weight: bold;

}
.top > #\32 {
    font-size: 240%;
    font-weight: bold;
}
.top > img {
    position: absolute;
    right: 90px;
    bottom: 60px;

}
.news {
    width: 250px;
    float: right;
    background-color: #dddddd;
    border: 1px solid #999999;
}
.news > p{
    color: #666666;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
}
.news > h3 {
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}
.main {
    width: 700px;
    float:left;
}
.introduction {
    overflow: hidden;
    padding-right: 40px;
    padding-left: 20px;
    text-align: justify;
}
.logo {
    float: left;
    padding-top: 20px;
}
.gallery {
    background-color: #999999;

}
.gallery > div {
    background-color: white;
    width: 180px;
    height: 180px;
    border: 1px dotted #999999;
    float: left;
    padding: 10px;
}
.bottom {
    float: left;
    background-color: #666666;
    width: 960px;
    height: 200px;
}
.block {
    float: left;
}
.copyright {
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    padding-left: 25%;
    font-family: Arial, serif;
}
