img {
    width: 155px;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin-left: 10px;
}

article:nth-child(even)  img {
    float: right;
    margin-left: 10px;
}

article:nth-child(odd)  img {
    float: left;
    margin-right: 10px;
}

article {

    display: table;
    border: 1px solid black;
    margin : auto;
}

p {
    font-size: 1.25em;
    margin-left: 10px;
    margin-right: 10px;
}
body {
    align-content: center;
}