.vrij
{
    background-color: rgb(250,120,120);
}
.andereMaand
{
    background-color: lightgrey !important;
    color: #a2a2a2;
}
tbody tr :first-child:not(a), tbody tr :last-child:not(a) {
    background-color: deepskyblue;
}

thead th{
    background-color: rgb(170,170,200)
}

thead td{
    background-color:rgb(35,37,70);
    color:cornflowerblue;
}