h1{
    text-align: center;
}
body {
    background-color: #2B2D42;
}
h1,h2,p,ul,ol,li {
    text-align: center;
    font-family: "Comic Sans MS", serif;
    color: white;
    margin: auto;
    list-style-type: none;
}
p {
    color: greenyellow;
}
img {
     width: 400px;
     height: 300px;
 }
a {
    color: greenyellow;
}
h2 {
    font-family: "Comic Sans MS", serif; 
}