h1{
    text-align: center;
}
body {
    background-color: #2B2D42;
}
h1,h2,p{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    color: white;
    margin: 20px;
}
ul,ol {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
li {
    margin: 0;
    text-align: center;
}
p {
    color: greenyellow;
}
img {
     width: 400px;
     height: 300px;
 }
a {
    color: greenyellow;
}
h2 {
    font-family: "Comic Sans MS", serif; 
}